<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ueportal">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".StudentLogin"/>
        <activity android:name=".Register" />
        <activity
            android:name=".AddNotifications"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ApplyOnline" />
        <activity android:name=".CoursesActivity" />
        <activity android:name=".Notification" />
        <activity android:name=".Time_Table_Activity" />
        <activity android:name=".GPA_Calculator" />
        <activity android:name=".AddCourses" />
        <activity android:name=".AddTimeTable" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".AddStudent" />
        <activity android:name=".Admin" />
    </application>

</manifest>